<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<extensions>
		<add assembly="NLog.Azure.Kusto"/>
	</extensions>
	<targets>
		<!--  ADX target -->
		<target name="adxtarget"
				xsi:type="ADXTarget"
		IngestionEndpointUri="${environment:CLUSTER_URI}"
		Database="${environment:DATABASE}"
		TableName="ADXNLogSample"
		ApplicationClientId="${environment:APP_ID}"
		ApplicationKey="${environment:APP_KEY}"
		Authority="${environment:AZURE_TENANT_ID}"
		UseStreamingIngestion="true"
		AuthenticationMode=""
		ColumnsMapping ="[{&quot;ColumnName&quot;:&quot;Timestamp&quot;,&quot;ValuePath&quot;: &quot;$.Timestamp&quot; },
				{&quot;ColumnName&quot;:&quot;Level&quot;,&quot;ValuePath&quot;: &quot;$.Level&quot; },
				{&quot;ColumnName&quot;:&quot;Message&quot;,&quot;ValuePath&quot;: &quot;$.Message&quot; },
				{&quot;ColumnName&quot;:&quot;FormattedMessage&quot;,&quot;ValuePath&quot;: &quot;$.FormattedMessage&quot; },
				{&quot;ColumnName&quot;:&quot;Exception&quot;,&quot;ValuePath&quot;: &quot;$.Exception&quot; },
				{&quot;ColumnName&quot;:&quot;Properties&quot;,&quot;ValuePath&quot;: &quot;$.Properties&quot; },
				{&quot;ColumnName&quot;:&quot;Position&quot;,&quot;ValuePath&quot;: &quot;$.Properties.Position&quot; }]"
		FlushImmediately="true"
				
				/>
	</targets>
	<rules>
		<logger minlevel="Info" name="*" writeTo="adxtarget"/>
	</rules>
</nlog>
