<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<extensions>
		<add assembly="NLog.Azure.Kusto"/>
	</extensions>
	<targets>
		<!--  ADX target -->
		<target name="adxtarget"
				xsi:type="ADXTarget"
		IngestionEndpointUri="https://somecluster.eastus.dev.kusto.windows.net/"
		Database="testdb"
		TableName="ADXNlog"
		ApplicationClientId="someclientid"
		Authority="someauthid"
		ApplicationKey="appkey"
		UseStreamingIngestion="false"
		AuthenticationModes="AadApplicationKey"
		FlushImmediately="true"
		/>
	</targets>
	<rules>
		<logger minlevel="Info" name="*" writeTo="adxtarget"/>
	</rules>
</nlog>